canvas {
    width: 98vw;
    height: 48vw;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
}

img {
    display: none
}

body {
    background-color: black;
}